<!doctype html>
<html class="no-js" lang="zxx">

<% include inc-head %>

<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

		<% include inc-header %>

        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
								<h2 class="bradcaump-title"><i class="fas fa-receipt fa-2x"></i></h2>
								<nav class="bradcaump-content">
								  <span class="brd-separetor">주문 내역</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- End Bradcaump area -->


		<!-- Start My Account Area -->
		<section class="my_account_area pt--80 pb--55 bg--white">
				<div class="container chswhite">
						<div class="row">
							<div class="col-md-12 col-sm-12 ol-lg-12">
								<h3>주문 내역</h3>
								<br>
								<form action="#">							

									<div class="table-content wnro__table table-responsive">
										<table>
											<thead>
												<tr class="title-top">
													<th class="product-thumbnail">상품</th>
													<th class="product-price">수량</th>
													<th class="product-remove">배송상태</th>
												</tr>
											</thead>
											<tbody>

												<%
												if(deliveryNum.length==0){
													%>
													<tr><td colspan="3">구매내역이 없습니다!</td></tr>

													<%
												}
												%>

												<% for(var i=page*5-5; i<page*5;i++){ %>
													<% if(i >= deliveryNum.length) {
															break;
														}

													var temp = deliveryDate[i].substring(0,10);

													%>

														<% if(i == 0 || deliveryNum[i-1] != deliveryNum[i]) { %>
														<tr><td colspan="3">주문번호<%=deliveryNum[i] %> &nbsp;&nbsp;|&nbsp;&nbsp; <%=temp %> &nbsp;&nbsp;|&nbsp;&nbsp; <%=deliveryPrice[i] %>원</td></tr>
														<% } %>
												<tr>
													<td class="product-thumbnail"><a href="/src/buyer/show?productNum=<%=productNum[i] %>"><img src="/images/main/<%=productImage[i]%>"  alt="product img"
														style="margin-right: 10px;height: 100px;width: 100px;"
														>
														<br>
														<%=productName[i]%></a></td>
													<td class="product-price"><span class="amount"><%=productCount[i]%></span></td>
													<td class="product-name"><%=deliveryState[i] %></td>
												</tr>

												<% } %>


											</tbody>
										</table>
									</div>
								</form>
								<div class="col-12">


									<ul class="pagination"style="justify-content: center;" >
										<% if(page == 1) { %>
											<li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="/src/buyer/buyList?page=<%=parseInt(page)-1%>"
													aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
										<% } else { %>
											<li class="paginate_button page-item previous" id="dataTable_previous"><a href="/src/buyer/buyList?page=<%=parseInt(page)-1%>"
													aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
										<% } %>
										</li>
	
	
										<%
										for(var i=1;i<deliveryNum.length/5 + 1;i++){
										%>
										<li class="paginate_button page-item "><a href="/src/buyer/buyList?page=<%=i%>" aria-controls="dataTable"
												data-dt-idx="<%=i%>" tabindex="0" class="page-link"><%=i%></a></li>
										<%
										}

										%>
										<% if(parseInt(page) == (Math.floor(deliveryNum.length/5)+1)) { %>
											<li class="paginate_button page-item next disabled" id="dataTable_next"><a href="/src/buyer/buyList?page=<%=parseInt(page)+1%>"
													aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
										<% } else { %>
											<li class="paginate_button page-item next" id="dataTable_next"><a href="/src/buyer/buyList?page=<%=parseInt(page)+1%>"
													aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
										<% } %>
									</ul>
								</div>
							</div>
						</div>
					</div>
		</section>
		<!-- End My Account Area -->

		<% include inc-footer %>


	</div>
	<!-- //Main wrapper -->
	<% include inc-script %>


</body>
</html>
