<h1>정보변경</h1>
<hr>
<form method=post>
  아이디<input type=hidden name=userNum value=<%=userNum%> /><br>
  비밀번호<input type=text name=userPass value=<%=userPass%> /><br>
  이름 <input type=text name=userName value=<%=userName%> /><br>
  전화번호 <input type=text name=userPhone value=<%=userPhone%> /><br>
  주소 <input type=text name=userAddr value="<%=userAddr%>" /><br>
  계좌번호 <input type=text name=userAccount value="<%=userAccount%>" /><br>
  성별 <input type=text name=userSex value=<%=userSex%> /><br>
  생년월일 <input type=text name=userBirth value=<%=userBirth%> /><br>
  <input type=submit value=정보수정 /><br>
</form>
